@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* section {

    align-items: center;
    display: inline-block;
    text-align: center;

} */

.container {
    margin-top: 100px;
}

.elementos-textos {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}     


.detetive {
    border-radius: 50%;
    height: 250px;
    margin-top: -400px;
}

.botoes {
    justify-content: space-between;
    width: 32.70%;
    margin-left: 80px;
    display: flex;
    margin-top: 30px;
}

#inputTexto { 
    margin-top: 0px;
    font-size: 20px;
    color: #feffeb;
    width: 500px;
    height: 500px;
    border: 2px solid white;
}
    

#mensagem {
    font-size: 20px;
    color: #ffffff;
    width:  300px;
    height: 500px;
    border: 2px solid white;

}

.btncripto{
    cursor: all-scroll;
    color: #ffffff;
    font-size: 20px;
    /* top: 600px;
    left: 40px;
    right: 1100px; */
    padding: 20px;
    /* text-align: left; */
}

.btndescripto{
    cursor: all-scroll;
    color: #ffffff;
    font-size: 20px;
    /* top: 600px;
    left: 300px;
    right: 1100px; */
    padding: 20px;
    /* text-align: left; */
}
    

@media (max-width: 900px) {

    .container {
        height: 100vh;
    }
    .elementos-textos {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
       
    }

    .detetive {
      display: none;
      
    }

    #inputTexto {
        width: 550px;
        height: 200px;
        margin-bottom: 50px;
    }

    #mensagem {
        width: 550px;
        height: 200px;
    }

    .botoes {
        display: flex ;
        width: 75%;
    }

}